div.forum_head {
    background: #1D496C url(http://static.15thdoverscouts.org.uk/images/forum_head_gradient.gif) repeat-x;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
}
div.forum_subhead {
    background: #1D496C url(http://static.15thdoverscouts.org.uk/images/forum_head_gradient.gif) repeat-x;
    border: 1px solid #999;
}
div.forum_head_dark {
    background: #0C1113 url(http://static.15thdoverscouts.org.uk/images/forum_head_darkgradient.gif) repeat-x;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
}

div.forum_head h2, div.forum_head_dark h2, div.forum_head_dark h2 a {
    color: white !important;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-indent: 10px;
}

div.forum_head span, div.forum_head_dark span, div.forum_subhead span {
    color: white;
}

div.forum_post_meta {
    background: #1D496C url(http://static.15thdoverscouts.org.uk/images/gradient_forumhead.gif) repeat-x;
    color: white;
    padding: 3px;
}

div.forum_post_meta img {
    height: 16px;
    margin-bottom: -3px;
    width: 16px;
}

div.forum_section, div.forum_section a, div.forum_section p, div.forum_section li,
div.forum_topic, div.forum_topic a, div.forum_topic p, div.forum_topic li,
div.forum_post, div.forum_post a, div.forum_post p, div.forum_post li {
    font-size: 11px;
}

div.forum_section, div.forum_topic {
    background: white url(http://static.15thdoverscouts.org.uk/images/grey-up.png) repeat-x 0% 100%;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
div.forum_post {
    background: #E8E8E8 url('http://static.15thdoverscouts.org.uk/images/gradient_postbit.gif') repeat-x;
    border-collapse: collapse;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    overflow: hidden;
}

div.forum_section_name a {
    font-size: 15px;
}
div.forum_topic_image {
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}
div.forum_topic_name a {
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.forum_post_author {
    padding: 10px 10px 0px;
}
div.forum_post_author p {
    color: #4E2A77;
    font-size: 18px;
    text-align: center !important;
}
div.forum_post_author ul {
    list-style: none;
    margin-top: -10px;
    padding: 0px;
}
div.forum_post_author  li {
    text-align: center;
    width: 100%;
}

div.forum_post_body {
    border-left: 1px solid #B3B3B3;
}
div.forum_post_body p {
    font-size: 12px;
}

ul.forum_list, div.forum_section ul, div.forum_topic ul{
    list-style:none outside none;
    margin-top: 0px;
    padding-left: 0px;
}

div.forum_head {
    height: 25px;
    margin-top: 10px;
    min-width: 570px;
    padding-top: 5px;
}

div.forum_head h2 {
    clear: right;
    display: block;
    float: left;
    margin: 0px;
    width: 75%;
}

div.forum_head span {
    clear: right;
    display: block;
    float: left;
    width: 20%;
}

div.forum_section{
    height: 71px;
    min-width: 550px;
    overflow: hidden;
    padding: 10px;
}

div.forum_topic{
    height: 30px;
    min-width: 550px;
    overflow: hidden;
    padding: 10px;
}
div.forum_post{
    min-height: 150px;
    min-width: 570px;
}
div.forum_section_name {
    float: left;
    height: 71px;
    width: 63%;
}

div.forum_topic_name {
    float: left;
    height: 30px;
    width: 57%;
}
div.forum_post_author {
    float: left;
    padding: 10px;
    width: 160px;
}
div.forum_section_stats{
    float:left;
    height: 61px;
    padding: 10px 10px 0px 0px;
    text-align: right;
    width: 12%;
}

div.forum_topic_stats {
    float:left;
    height: 20px;
    padding-right: 10px;
    text-align: right;
    width: 12%;
}

div.forum_post_body {
    margin: 10px 0px 10px 180px;
    min-height: 150px;
    padding: 0px 10px 0px 10px;
}

div.forum_section_latest{
    height: 71px;
}

div.forum_topic_latest{
    height: 30px;
}