body {
    margin: 0px;
	min-width: 968px;
}
div#body {
	position: relative;
	padding: 0px;
}

div#content {
	min-height: 675px;
	padding: 10px;
}

div#sidebar  {
	bottom: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	border-left: 1px solid #999;
} 

div#header {
	position: relative;
	padding: 5px;
	height: 50px;
}


div#header img {
	margin: 5px;
}

div#useroptions {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 5px;
}

div#search_bar {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 5px;
}

div#navigation {

}

div#footer {
	clear: both;
    text-align: center;
}

div#content p {
    text-align: justify;
}

ul.menu {
	clear: both;
    margin: 0px;
}

div#tabs {
	padding-right: 6px;
}

ul#tabs {
    list-style-type: none;
    float: right;
    /*margin-top: -20px; */
}

ul#tabs li a {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
}

ul.forum_list, div.forum_section ul, div.forum_topic ul{
	list-style:none outside none;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
}

div.forum_head {
	height: 25px;
	margin-top: 10px;
	min-width: 570px;
	padding-top: 5px;
}

div.forum_head h2 {
	clear: right;
	display: block;
	float: left;
	margin: 0px;
	width: 75%;
}

div.forum_head span {
	clear: right;
	display: block;
	float: left;
	width: 20%;
}

div.forum_section{
	height: 71px;
	min-width: 550px;
	overflow: hidden;
	padding: 10px;
}
 
div.forum_topic{
	height: 30px;
	min-width: 550px;
	overflow: hidden;
	padding: 10px;
}
div.forum_post{
	min-height: 150px;
	min-width: 570px;
}
div.forum_section_name {
	float: left;
	height: 71px;
	width: 63%;
}

div.forum_topic_name {
	float: left;
	height: 30px;
	width: 57%;
}
div.forum_post_author {
	float: left;
	padding: 10px;
	width: 160px;
}
div.forum_section_stats{
	float:left;
	height: 61px;
	padding: 10px 10px 0px 0px;
	text-align: right;
	width: 12%;
}
 
div.forum_topic_stats {
	float:left;
	height: 20px;
	padding-right: 10px;
	text-align: right;
	width: 12%;
}

div.forum_post_body {
	margin: 10px 0px 10px 180px;
	min-height: 150px;
	padding: 0px 10px 0px 10px;
}
div.forum_section_latest{
	height: 71px;
}
 
div.forum_topic_latest{
	height: 30px;
}